@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body{
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
    background-color: #5dbdaf;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.navbar img{
    width: 25px;
    height: auto;
}
.navbar a{
   text-decoration: none;
   color: whitesmoke; 
   letter-spacing: 1px;
   padding: 10px;
   font-size: 15px;
   font-family: 'Muli', sans-serif;
}
.navbar a:hover{
    color: #dbc622;
 }

.navbar-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}